{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container first-bg">
    <h1 class="h-center">{% trans "Sign In" %}</h1>
    <div class="container-fluid second-bg">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <p>{% blocktrans %}Welcome back to the code|star blog. To leave a comment or like a post, please log in. If
                    you
                    have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a>
                    first.{% endblocktrans %}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="btn btn-signup right" type="submit">{% trans "Sign In" %}</button>
                    <button class="btn btn-guest" type="button" onclick="guestLogin()">Log in as Guest</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function guestLogin() {
        document.querySelector('input[name="username"]').value = 'guest_username'; // replace with your guest username
        document.querySelector('input[name="password"]').value = 'guest_password'; // replace with your guest password
        document.querySelector('form.login').submit();
    }
</script>
{% endblock %}