{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>REMS</title>

</head>

<body>

    <header>
        <!--top navbar-->
        <nav class="light-green darken-1">
            <div class="nav-wrapper">
                <a href="{% url 'home' %}" class="brand-logo">REMS</a>
                <a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li>
                        <a href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'home' %}">Posts</a>
                    </li>
                    <li>
                        <a href="{% url 'properties' %}">Properties</a>
                    </li>
                    <li>
                        <a href="{% url 'projects' %}">Projects</a>
                    </li>
                </ul>

                <!-- mobile seidenav -->
                <ul class="sidenav" id="mobile-demo">
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="#">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="#">Register</a>
                    </li>
                    <li>
                        <a href="#">Login</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="#">Posts</a>
                    </li>
                    <li>
                        <a href="#">Properties</a>
                    </li>
                    <li>
                        <a href="#">Projects</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="page-footer light-green">
        <div class="footer-copyright light-green">
          <div class="container">
          For educational purposes only
          <a class="white-text right" href="https://codeinstitute.net" target="_blank">&copy; Code Institute</a>
          </div>
        </div>
      </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>

</html>