{% extends "base.html" %}

{% block content %}
    <main class="container first-bg">
        <h1 class="h-center">Edit Property</h1>
        <div class="container-fluid second-bg">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <button type="submit" class="waves-effect waves-light btn btn-signup">Update Property</button>
                </div>
            </form>
        </div>
    </main>
    {%endblock%}