{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container first-bg">
    {% if user.is_authenticated %}
    <h1 class="h-center">What do you want to achieve to day?</h1>
    <div class="container-fluid second-bg">
        <div class="row">
            <div class="col-12 mt-3 left">
                <div class="row">
                    <div class="col-md-4">
                    <h4><a class="link" href="{% url 'projects' %}">Projects</a></h4>
                            <p>To manage your construction projects, then go to <a class="link" href="{% url 'projects' %}">projects</a></p>
                </div>
                <div class="col-md-4">
                    <h4><a class="link" href="{% url 'properties' %}">Properties</a></h4>
                            <p>To manage your properties, then fo to <a class="link" href="{% url 'properties' %}">properties</a></p>
                </div>
                <div class="col-md-4">
                    <h4><a class="link" href="{% url 'tickets' %}">Tickets</a></h4>
                            <p>To see tickets and comments, then go to <a class="link" href="{% url 'tickets' %}">tickets</a></p>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <h1 class="h-center">REMS</h1>
    <div class="container-fluid second-bg">
        <p> In REMS you will manage Real Estate projects in collaboration with your team. If you
            have not created an account yet, then <a class="link" href="/accounts/signup/">sign up</a>
            first. or <a class="link" href="/accounts/login/">sign in</a>
        </p>    
    </div>
    {% endif %}
</div>

{%endblock%}