{% extends "base.html" %}

{% block content %}
<main class="container">
    <h1>Projects</h1>
    <br>
    
    <table>
        {% for project in projects %}
            <tr>
                <td>{{ project.project_name }}</td>
                <td>{{ project.Adress }}</td>
                <td>
                    <a href="/edit_project/{{ project.id }}">
                        <button>Edit</button>
                    </a>
                </td>
                <td>
                    <a href="/delete_project/{{ project.id }}">
                        <button>Delete</button>
                    </a>
                </td>
            </tr>
        {% empty %}
        <tr><td>You haven't added any projects yet</td></tr>
        {% endfor %}
    </table>
</main>
{%endblock%}