{% extends "base.html" %}

{% block content %}
<main class="container first-bg">
    <h1>Projects</h1>
    <div class="container-fluid second-bg">
        <a class="waves-effect waves-light btn btn-signup" href="/add_project">Add a project</a>
    <table class="col-12 mt-3 left">
        {% for project in projects %}
            <tr>
                <td>{{ project.project_name }}</td>
                <td>{{ project.Adress }}</td>
                <td>
                    <a class="btn btn-signup" href="/edit_project/{{ project.id }}">Edit</a>
                </td>
                <td>
                    <a class="btn btn-signup" href="/delete_project/{{ project.id }}">Delete</a>
                </td>
            </tr>
        {% empty %}
        <tr><td>You haven't added any projects yet</td></tr>
        {% endfor %}
    </table>
    </div>
</main>
{%endblock%}