{% extends "base.html" %}

{% block content %}    
<main class="container first-bg">
    <h1>Properties</h1>
    <div class="container-fluid second-bg">
        <a class="waves-effect waves-light btn btn-signup" href="/add">Add a property</a>
    <table class="col-12 mt-3 left">
        {% for property in properties %}
            <tr>
                <td>{{ property.property_number }}</a></td>
                <td>{{ property.Price }}€</td>
                <td>{{ property.Status }}</td>
                <td>{{ property.project }}</td>
                <td>
                    <a class="btn btn-signup" href="/edit/{{ property.id }}">Edit</a>
                </td>
                <td>
                    <a class="btn btn-signup" href="/delete/{{ property.id }}">Delete</a>
                </td>
            </tr>
        {% empty %}
        <tr><td>You haven't added any properties yet. Before adding any property you must first create a project</td></tr>
        {% endfor %}
    </table>
    </div>
    <br>
</main>
{%endblock%}